{%- for router in controller.routers %}
{%- if router.request_type %}
export interface {{ router.request_type.name }} {
{%- for prop_name, prop_type in router.request_type.properties.items() %}
    {%- if prop_name in router.request_type.required_properties %}
    {{ prop_name }}: {{ prop_type }};
    {%- else %}
    {{ prop_name }}?: {{ prop_type }};
    {%- endif %}
{%- endfor %}
}
{%- endif %}
{%- if router.response_type %}
export interface {{ router.response_type.name }} {
{%- for prop_name, prop_type in router.response_type.properties.items() %}
    {%- if prop_name in router.response_type.required_properties %}
    {{ prop_name }}: {{ prop_type }};
    {%- else %}
    {{ prop_name }}?: {{ prop_type }};
    {%- endif %}
{%- endfor %}
}
{%- endif %}
{%- if router.params_type %}
export interface {{ router.params_type.name }} {
{%- for prop_name, prop_type in router.params_type.properties.items() %}
    {%- if prop_name in router.params_type.required_properties %}
    {{ prop_name }}: {{ prop_type }};
    {%- else %}
    {{ prop_name }}?: {{ prop_type }};
    {%- endif %}
{%- endfor %}
}
{%- endif %}
{%- endfor %}
